@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############# Variables ############# */
body {
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  background-image: linear-gradient(0deg, rgba(9, 20, 60, 0.7333333333), rgba(9, 20, 60, 0.7333333333)), url(../assets/img/backgroundImage.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 34px;
}

/* ############# App ############# */
.App {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* ############# Navegador ############# */
.Navegador {
  height: 100%;
  width: 27%;
  background-color: #09143C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Foto-Perfil {
  width: 42%;
  height: 18%;
  margin-left: 30%;
  border-radius: 50%;
  margin-bottom: 24px;
}

.Foto-Perfil-img {
  background-image: url("../assets/img/perfil.png");
  background-size: 80% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.Cont-Nav {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  margin-left: 16%;
}
.Cont-Nav .activo {
  background-color: #FA2F4C;
}

.Nav-Botones {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  text-decoration: none;
}
.Nav-Botones button {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 32px;
  border: none;
}
.Nav-Botones img {
  margin-right: 24px;
}

.Links {
  margin-left: 24%;
  font-size: 16px;
}
.Links p {
  margin-bottom: 8px;
}
.Links p svg {
  margin-right: 8px;
}

/* ############# Contenido Principal - Home ############# */
.Cont-Principal {
  width: 74.74%;
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}
.Cont-Principal::-webkit-scrollbar {
  display: none;
}
.Cont-Principal h1 {
  width: 380px;
  font-size: 32px;
  margin: 48px 0;
}
.Cont-Principal h2 {
  font-size: 32px;
  width: 380px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.img-sujeto {
  height: 80vh;
  margin-top: 10%;
}

.sujeto {
  margin-top: 6%;
}

/* ############# Contenido Principal - SobreMi ############# */
.SobreMi {
  width: 100%;
  display: flex;
}

.SobreMi-nav {
  width: 14%;
  padding-left: 24px;
  padding-top: 160px;
}
.SobreMi-nav div {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SobreMi-nav div p {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}
.SobreMi-nav div svg {
  font-size: 40px;
  color: #FFFFFF;
}
.SobreMi-nav .activo2 {
  background-color: #FA2F4C;
}
.SobreMi-nav .activo2 p {
  color: #09143C;
}
.SobreMi-nav .activo2 svg {
  color: #09143C;
}

.SobreMi-Seccion {
  width: 86%;
  height: 100%;
}

/* ============== SobreMi - Experiencia ============== */
.Experiencia {
  width: 100%;
  height: 100%;
  padding: 24px 24px 24px 5%;
}

.experiencias-nav {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.experiencias-nav button {
  display: flex;
  align-items: center;
  width: 15%;
  padding: 20px 0;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}
.experiencias-nav button svg {
  margin: 0 16px;
  font-size: 24px;
}

.exp-navCont {
  width: calc(70% - 20px);
  margin: 0 10px;
  display: flex;
}
.exp-navCont .exp-nav {
  width: 86px;
  height: 92px;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}
.exp-navCont .activo {
  background-color: rgba(227, 219, 29, 0.2);
  border: 2px solid #E3DB1D;
  border-bottom: none;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: 5;
}
.exp-navCont .activo::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 0 0 8px 0;
  border: 2px solid #E3DB1D;
  border-left: none;
  border-top: none;
  margin-left: -134px;
  margin-bottom: -38px;
  z-index: 1;
}
.exp-navCont .activo::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 0 0 0 8px;
  border: 2px solid #E3DB1D;
  border-right: none;
  border-top: none;
  margin-right: -134px;
  margin-bottom: -38px;
  z-index: 1;
}

.experiencia-info {
  width: 100%;
  height: 83%;
  padding: 24px;
  border: 2px #E3DB1D solid;
  border-radius: 8px;
  background-color: rgba(227, 219, 29, 0.2);
  z-index: 1;
  margin-top: -2px;
  display: none;
  grid-template-rows: min-content;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.experiencia-info-activo {
  display: grid;
}

.experiencia-top {
  display: flex;
  align-items: center;
}
.experiencia-top div {
  height: 64px;
  display: flex;
  align-items: center;
}
.experiencia-top .exp-titulo {
  font-size: 32px;
  border-right: 2px solid #E3DB1D;
  padding-right: 40px;
}
.experiencia-top .exp-titulo h2 {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 230px;
  font-weight: 400;
}
.experiencia-top .exp-puesto {
  font-size: 20px;
  font-weight: 300;
  min-width: 200px;
  color: #E3DB1D;
  border-right: 2px solid #E3DB1D;
  padding: 0 40px;
}
.experiencia-top .exp-fecha {
  font-size: 20px;
  font-weight: 300;
  color: #E3DB1D;
  max-width: 250px;
  padding: 0 20px 0 60px;
  line-height: 24px;
}

.experiencia-descr {
  padding: 20px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.experiencia-descr li {
  margin: 4px 0;
  line-height: normal;
  font-family: "Roboto";
}

.expSub-cont {
  width: 100%;
  padding-left: 3%;
  height: 30vh;
  margin-bottom: 12px;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.1fr;
}
.expSub-cont .expSub-col {
  border-right: 2px dashed #E3DB1D;
}
.expSub-cont .expSub-col .expSub-tittle {
  width: 100%;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: #E3DB1D;
  justify-content: center;
  align-items: center;
}
.expSub-cont .expSub-col .expSub-tittle svg {
  font-size: 32px;
  margin-right: 16px;
}
.expSub-cont .expSub-col .expSub-list {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.expSub-cont .expSub-col-1 .expSub-tittle {
  margin-left: -24px;
}
.expSub-cont .expSub-col-1 .expSub-list {
  padding: 16px 14px;
}
.expSub-cont .expSub-col-2 {
  width: 100%;
}
.expSub-cont .expSub-col-2 .expSub-list {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.expSub-cont .expSub-col-3 {
  border-right: none;
}
.expSub-cont .expSub-col-3 .expSub-list {
  padding: 16px 38px;
  padding-right: 0;
}

/* ============== SobreMi - Habilidad ============== */
.Habilidades {
  width: 100%;
  height: 100%;
  padding: calc(23% - 64px) 24px 64px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-areas: "col1 col2 col3" "col1 col2 col3" "col4 col2 col3";
  gap: 26px;
}
.Habilidades .col1 {
  grid-area: col1;
}
.Habilidades .col2 {
  grid-area: col2;
}
.Habilidades .col3 {
  grid-area: col3;
}
.Habilidades .col4 {
  grid-area: col4;
}
.Habilidades .col {
  border-radius: 8px;
  border: 2px solid var(--color-4, #E3DB1D);
  background: rgba(227, 219, 29, 0.2);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.Habilidades .col .h-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}
.Habilidades .col .h-top svg {
  font-size: 32px;
  color: #E3DB1D;
}
.Habilidades .col .h-top p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: #E3DB1D;
  margin-left: 12px;
}
.Habilidades .col1, .Habilidades .col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Habilidades .col1 .h-cont, .Habilidades .col2 .h-cont {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 12px;
}
.Habilidades .col1 .h-cont img, .Habilidades .col2 .h-cont img {
  width: 48px;
  height: 48px;
}
.Habilidades .col2 .h-cont {
  width: 60%;
}
.Habilidades .col3 .h-cont {
  padding-left: 50px;
}
.Habilidades .col3 .h-cont li {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.Habilidades .col4 .h-cont {
  padding-left: 30px;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* ============== SobreMi - Educación ============== */
.Educacion {
  width: 100%;
  height: 100%;
  padding: calc(23% - 64px) 24px 64px 5%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-areas: "col1 col2" "col1 col2" "col1 col3";
  gap: 26px;
}
.Educacion .col1 {
  grid-area: col1;
}
.Educacion .col2 {
  grid-area: col2;
}
.Educacion .col3 {
  grid-area: col3;
}
.Educacion .col {
  border-radius: 8px;
  border: 2px solid var(--color-4, #E3DB1D);
  background: rgba(227, 219, 29, 0.2);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.Educacion .col .h-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}
.Educacion .col .h-top svg {
  font-size: 32px;
}
.Educacion .col .h-top p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-left: 12px;
}
.Educacion .col1 .h-cont {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 12px 0 42px;
}
.Educacion .col1 .h-cont li {
  margin-bottom: 4px;
}
.Educacion .edu-titulo {
  width: 100%;
}
.Educacion .edu-titulo h2 {
  text-align: center;
  width: initial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 12px 16px;
  letter-spacing: 0.05rem;
}
.Educacion .edu-titulo div {
  display: flex;
  color: #E3DB1D;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.Educacion .edu-titulo div p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 2px 8px;
}
.Educacion .edu-titulo div .edu-fecha {
  max-width: 40%;
  border-left: 2px solid #E3DB1D;
}
.Educacion .col2 .h-top {
  color: #E3DB1D;
}
.Educacion .col2 .h-cont {
  padding: 0 0 16px 20px;
}
.Educacion .col2 .h-cont p {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.Educacion .col2 .h-cont p span {
  color: #E3DB1D;
  margin-right: 4px;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.Educacion .col3 {
  border-color: #FFFFFF;
}
.Educacion .col3 .h-cont {
  padding-left: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.Educacion .col3 .h-cont p:first-child {
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.Educacion .col3 .h-cont span {
  color: #E3DB1D;
}

/* ============== SobreMi - Valóres ============== */
.Valores {
  width: 100%;
  height: 100%;
  padding: 46px 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Valores .valores-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  gap: 24px;
}
.Valores .valores-list .valores-cont {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30%;
  border-radius: 8px;
  border: 2px solid var(--color-4, #E3DB1D);
  background: var(--cuadro, rgba(227, 219, 29, 0.2));
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  margin-bottom: 32px;
}
.Valores .valores-list .valores-cont img {
  height: 180px;
  margin-top: -65px;
  justify-self: center;
  align-self: center;
}
.Valores .valores-list .valores-cont p {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
  margin: 12px 0 32px 0;
  padding: 0 20px;
}
.Valores .valores-list .valores-cont .v-tittle {
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #E3DB1D;
}

/* ############# Contenido Principal - Portafolio ############# */
.lista-trabajos {
  height: 100%;
  width: 100%;
  padding-left: 70px;
  padding-bottom: 40px;
  display: flex;
}

.trabajo {
  transition: 0.3s all;
  align-self: flex-end;
  margin-right: 42px;
}
.trabajo .trabajo-cont {
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trabajo .trabajo-cont-img {
  width: 141px;
  height: 146px;
  border-radius: 50%;
  background-color: #FFB27A;
  margin: 0 0 -130px 0;
  z-index: 1;
}
.trabajo .trabajo-detalles {
  background-color: #D9D9D9;
  width: 100%;
  height: 217px;
  border-radius: 16px;
}
.trabajo .trabajo-detalles div {
  display: none;
}
.trabajo .info-trabajo {
  display: none;
}

.viendo-trabajo {
  transition: 0.3s all;
  align-self: flex-start;
}
.viendo-trabajo .trabajo-cont {
  width: 341px;
}
.viendo-trabajo .trabajo-cont-img {
  width: 263px;
  height: 273px;
  margin: 24px 0;
}
.viendo-trabajo .trabajo-detalles {
  color: black;
  padding: 35px 42px;
  height: initial;
}
.viendo-trabajo .trabajo-detalles div {
  display: block;
  padding-bottom: 60px;
}
.viendo-trabajo .info-trabajo {
  display: block;
  position: relative;
  margin-top: -720px;
  margin-left: 26vw;
  max-width: 15vw;
  z-index: 3;
}
.viendo-trabajo .info-trabajo h2 {
  margin-bottom: 28px;
}
.viendo-trabajo .info-trabajo p {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.viendo-trabajo .info-trabajo button {
  background-color: #E3DB1D;
  padding: 8px 16px;
  color: #000;
  font-size: 32px;
  border-radius: 8px;
  margin-top: 8px;
}

.trabajo-left {
  margin-left: -200px;
}

.portafolio-bt-D {
  position: fixed;
  height: 100%;
  width: 8vw;
  right: -10px;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, #09143C 15.16%, rgba(9, 20, 60, 0.1) 153.19%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
}
.portafolio-bt-D button {
  height: 100%;
  background-color: transparent;
  width: 80px;
  border: 0;
  display: flex;
}
.portafolio-bt-D button svg {
  align-self: flex-end;
  margin: 24px auto;
  color: #D9D9D9;
  font-size: 2em;
}

/* ############# Contenido Principal - Referencias ############# */
.referecias {
  width: 100%;
  height: 100%;
  padding: 7% 10% 0 10%;
}

.referencias-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.referencias-list div {
  background-color: #D9D9D9;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.6;
}
.referencias-list .activo {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.referencias-desc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 36px;
}

form {
  display: flex;
}
form .sujeto-referencia {
  font-size: 20px;
  font-weight: 600;
  margin-right: 32px;
}
form .formulario-espacios {
  display: flex;
  flex-direction: column;
  width: 70%;
}
form .formulario-espacios .form-linkend {
  height: 32px;
  margin-bottom: 10px;
}
form .formulario-espacios textarea {
  height: 120px;
  margin-bottom: 10px;
}
form .formulario-espacios .form-submit {
  background-color: #E3DB1D;
  padding: 8px 16px;
  color: #000;
  font-size: 32px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 150px;
}

/* ############# Contenido Principal - Servicios ############# */
.servicios {
  width: 100%;
  height: 100%;
  padding: 46px 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.servicios-list .servicio-cont {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 25%;
  border-radius: 8px;
  border: 2px solid var(--color-4, #E3DB1D);
  background: var(--cuadro, rgba(227, 219, 29, 0.2));
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  margin-bottom: 32px;
}
.servicios-list .servicio-cont img {
  height: 180px;
  margin-top: -65px;
  justify-self: center;
  align-self: center;
}
.servicios-list .servicio-cont p {
  text-align: center;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #E3DB1D;
  margin: 12px 0 32px 0;
}
.servicios-list .servicio-cont ul {
  padding-left: 24px;
}
.servicios-list .servicio-cont ul li {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.servicios-list .servicio-cont .s-m {
  font-family: "Roboto";
  font-size: 14px;
  width: 80%;
  align-self: center;
}
.servicios-list .servicio-cont .s-m span {
  font-weight: 700;
}

.callToAction {
  display: flex;
  align-items: center;
}
.callToAction p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 70%;
  margin-right: 32px;
}
.callToAction button {
  border: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 8px;
  background: var(--color-1, #09143C);
  box-shadow: 0px 4px 15px 0px rgba(252, 97, 94, 0.35);
  padding: 8px;
}

/* ############# Clases Comunes ############# */
.displayNone {
  display: none;
}/*# sourceMappingURL=style.css.map */