@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all;
}

/* ############# Variables ############# */
$Color1: #09143C;
$Color2: #FFFFFF;
$Color3: #FA2F4C;
$Color4: #E3DB1D;
$Color5: #FFB27A;
$Color6: #D9D9D9;
$ColorFondo: linear-gradient(0deg, #09143cbb, #09143cbb);



body {
    height: 100vh;
    width: 100vw;
    color: $Color2;
    background-image: $ColorFondo, url(../assets/img/backgroundImage.png);
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 34px;
}

/* ############# App ############# */
.App {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* ############# Navegador ############# */
.Navegador {
    height: 100%;
    width: 27%;
    background-color: $Color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Foto-Perfil {
    width: 42%;
    height: 18%;
    margin-left: 30%;
    border-radius: 50%;
    margin-bottom: 24px;
}

.Foto-Perfil-img {
    background-image: url('../assets/img/perfil.png');
    background-size: 80% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.Cont-Nav {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    margin-left: 16%;
    .activo { background-color: $Color3;}
}

.Nav-Botones {
    cursor: pointer;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    text-decoration: none;
    button {
        cursor: pointer;
        background-color: transparent;
        color: $Color2;
        font-size: 32px;
        border: none;
    }
    img {
        margin-right: 24px;
    }
    &:hover {
        box-shadow: inset 0px 0px 0px 2px #fa2f4d85, 0px 0px 5px 0px #fa2f4d85;
    }
}

.Links {
    margin-left: 24%;
    font-size: 16px;
    p {
        margin-bottom: 4px;
        svg {margin-right: 8px;}
    }
}

/* ############# Contenido Principal - Home ############# */
.Cont-Principal {
    width: 74.74%;
    display: flex;
    justify-content: space-around;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        width: 380px;
        font-size: 32px;
        margin: 48px 0;
    }
    h2 {
        font-size: 32px;
        width: 380px;
        text-decoration: dashed;
    }
}

.home {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.img-sujeto {
    height: 80vh;
    margin-top: 10%;
    margin-left: 3%;
}

.sujeto {
    margin-top: 6%;
}

/* ############# Contenido Principal - Portafolio ############# */
.Portafolio {
    width: 100%;
    height: 100%;
    padding: 24px 24px 24px 5%;
    animation: upDown 0.3s 1 forwards;
}

.lista-trabajos {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 8%;
    div {
        width: 86px;
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Color1;
    }
    .active-trab {
        background-color: $Color3;
    }
}

.trabajo {
    animation: rightCenter 0.3s 1 forwards;
    width: 100%;

    .trabajo-cont {
        display: flex;
        margin-bottom: 8%;
        .trabajo-img {
            display: flex;
            width: 400px;
            margin-right: 40px;
            align-items: center;
        }

    }
    .info-trabajo {
        height: 285px;
        display: grid; 
        grid-template-columns: 1fr;
        h2{
            font-size: 32px;
            color: $Color4;
            font-weight: 400;
            margin-bottom: 24px;
        }
        p{
            width: 80%;
            font-size: 14px;
            font-family: "Roboto";
            font-weight: 400;
            line-height: normal;
            margin-bottom: 12px;
        }
        button, a {
            width: fit-content;
            border: none;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            color: $Color2;
            border-radius: 8px;
            background: var(--color-1, #09143C);
            box-shadow: 0px 6px 10px 0px rgba(252, 97, 94, 0.35);
            padding: 12px 16px;
            align-self: flex-end;
            text-decoration: none;
            &:active {
                background-color: $Color3;
            }
        }
        button {
            opacity: 0.6;
        }
    }
}

.trabajo-detalles {
    display: flex;
    width: 100%;
    padding: 8px 12px 4px 12px;
    justify-content: space-between;
    border: 2px $Color4 solid;
    border-radius: 16px;
    background-color: rgba(227, 219, 29, 0.2);
    p {
        line-height: normal;
        font-family: 'Roboto';
        font-size: 14px;
    }
    .tr-titulo {
        color: $Color4;
        font-family: 'Oswald';
        font-size: 20px;
    }
    img {
        width: 24px;
        height: 24px;
    }
}

/* ############# Contenido Principal - SobreMi ############# */
.SobreMi {
    width: 100%;
    display: flex;
    animation: upDown 0.3s 1 forwards;

}

.SobreMi-nav {
    width: 14%;
    padding-left: 24px;
    padding-top: 160px;
    div {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
            font-size: 20px;
            font-weight: 400;
            color: $Color2;
        }
        svg {
            font-size: 40px;
            color: $Color2;
        }
    }
    .activo2 {
        background-color: $Color3;
        p {color: $Color1;}
        svg {color: $Color1;}
    }
}

.SobreMi-Seccion {
    width: 86%;
    height: 100%;
}

/* ============== SobreMi - Experiencia ============== */
.Experiencia {
    width: 100%;
    height: 100%;
    padding: 24px 24px 24px 5%;
}

.experiencias-nav {
    display: flex;
    width: 100%;
    align-items: flex-end;
    cursor: pointer;
    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 15%;
        padding: 20px 0;
        background-color: transparent;
        border: none;
        color: $Color2;
        font-size: 16px;
        svg {
            margin: 0 16px;
            font-size: 24px;
        }
    }
}

.exp-navCont {
    width: calc(70% - 20px);
    margin: 0 10px;
    display: flex;

    .exp-nav {
        width: 86px;
        height: 92px;
        margin: 0 16px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 8px 8px 0 0;
        img {
            width: 24px;
            height: 24px;
            margin-bottom: 12px;
        }
    }

    .activo {
        background-color:rgba(227, 219, 29, 0.20);
        border: 2px solid $Color4;
        border-bottom: none;
        backdrop-filter: blur(7.5px);
        z-index: 5;
        align-items: center;
        transition: none;

        img {
            width: initial;
            height: initial;
        }
        &::before {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 0 0 8px 0;
            border: 2px solid $Color4;
            border-left: none;
            border-top: none;
            margin-left: -163%;
            margin-bottom: -38px;
            z-index: 1;
        }
        
        &::after {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 0 0 0 8px;
            border: 2px solid $Color4;
            border-right: none;
            border-top: none;
            margin-right: -163%;
            margin-bottom: -38px;
            z-index: 1;
        }
    }
}

.experiencia-info {
    width: 100%;
    height: 83%;
    padding: 24px;
    border: 2px $Color4 solid;
    border-radius: 8px;
    background-color:rgba(227, 219, 29, 0.20);
    z-index: 1;
    margin-top: -2px;
    display: none;
    grid-template-rows: min-content;
    backdrop-filter: blur(7.5px);
}

.experiencia-info-activo {
    display: grid;
}

.experiencia-top {
    display: flex;
    align-items: center;

    div {
        height: 64px;
        display: flex;
        align-items: center;
    }

    .exp-titulo {
        font-size: 32px;
        border-right: 2px solid $Color4;
        padding-right: 40px;
        h2 {
            width: fit-content;

            font-weight: 400;
        }
    }

    .exp-puesto {
        font-size: 20px;
        font-weight: 300;
        min-width: 200px;
        color: $Color4;
        border-right: 2px solid $Color4;
        padding: 0 40px;
    }

    .exp-fecha {
        font-size: 20px;
        font-weight: 300;
        color: $Color4;
        max-width: 250px;
        padding: 0 20px 0 60px;
        line-height: 24px;
    }
}

.experiencia-descr {
    padding: 20px 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    li {
        margin: 4px 0;
        line-height: normal;
        font-family: 'Roboto';
    }
}

.expSub-cont {
    width: 100%;
    padding-left: 3%;
    height: 30vh;
    margin-bottom: 12px;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.1fr;

    .expSub-col {
        border-right: 2px dashed $Color4;
        .expSub-tittle {
            width: 100%;
            display: flex;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            color: $Color4;
            justify-content: center;
            align-items: center;
            svg {
                font-size: 32px;
                margin-right: 16px;
            }
        }
        .expSub-list {
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .expSub-col-1 {
        .expSub-tittle {
            margin-left: -24px;
        }
        .expSub-list {
            padding: 16px 14px;
        }
    }

    .expSub-col-2 {
        width: 100%;
        .expSub-list {
            width: 80%;
            padding: 16px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    .expSub-col-3 {
        border-right: none;
        .expSub-list {
            padding: 16px 38px;
            padding-right: 0;
        }
    }
}

/* ============== SobreMi - Habilidad ============== */
.Habilidades {
    width: 100%;
    height: 100%;
    padding: calc(23% - 64px) 24px 64px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas: 
    "col1 col2 col3"
    "col1 col2 col3"
    "col4 col2 col3"
    ;
    gap: 26px;

    @for $i from 1 through 4 {
        .col#{$i} {
          grid-area: col#{$i};
        }
    }

    .col {
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: rgba(227, 219, 29, 0.20);
        backdrop-filter: blur(7.5px);
        .h-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 24px 0;
            svg {
                font-size: 32px;
                color: $Color4;
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                color: $Color4;
                margin-left: 12px;
            }
        }
    }

    .col1, .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .h-cont {
            display: flex;
            flex-wrap: wrap;
            width: 85%; 
            gap: 12px;
            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .col2 .h-cont {width: 60%;}
    .col3 .h-cont {
        padding-left: 50px;
        li{
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 8px;
        }
    } 
    .col4 .h-cont {
        padding-left: 30px;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}

/* ============== SobreMi - Educación ============== */
.Educacion {
    width: 100%;
    height: 100%;
    padding: calc(23% - 64px) 24px 64px 5%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 
    "col1 col2"
    "col1 col2"
    "col1 col3"
    ;
    gap: 26px;

    @for $i from 1 through 3 {
        .col#{$i} {
          grid-area: col#{$i};
        }
    }

    .col {
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: rgba(227, 219, 29, 0.20);
        backdrop-filter: blur(7.5px);
        .h-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 24px 0;
            svg {
                font-size: 32px;
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                margin-left: 12px;
            }
        }
    }

    .col1 .h-cont {
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 12px 0 42px;
        li{
            margin-bottom: 4px;
        }
    }

    .edu-titulo {
        width: 100%;
        h2 {
            text-align: center;
            width: initial;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            padding: 12px 16px;
            letter-spacing: .05rem;
        }
        div {
            display: flex;
            color: $Color4;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                padding: 2px 8px;
            }
            .edu-fecha {
                max-width: 40%;
                border-left: 2px solid $Color4;
            }
        }

    }

    .col2 {
        .h-top {
            color: $Color4;
        }
        .h-cont {
            padding: 0 0 16px 20px;
            p {
                font-family: "Roboto";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
                span {
                    color: $Color4;
                    margin-right: 4px;
                    font-family: "Oswald";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }

    .col3 {
        border-color: $Color2;
        .h-cont {
            padding-left: 20px;
            font-family: "Roboto";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
            p:first-child {
                font-family: "Oswald";
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            span {
                color: $Color4;
            }
        }
    }
}

/* ============== SobreMi - Valóres ============== */
.Valores {
    width: 100%;
    height: 100%;
    padding: 46px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .valores-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        gap: 24px;
        .valores-cont {
            display: flex;
            flex-direction: column;
            height: 55vh;
            width: 30%;
            border-radius: 8px;
            border: 2px solid var(--color-4, #E3DB1D);
            background: var(--cuadro, rgba(227, 219, 29, 0.20));
            backdrop-filter: blur(7.5px);
            margin-bottom: 32px;
            img {
                height: 180px;
                margin-top: -65px;
                justify-self: center;
                align-self: center;
            }
            p{
                text-align: center;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 4px;
                margin: 12px 0 20px 0;
                padding: 0 20px;
            }
            .v-tittle {
                font-family: 'Oswald';
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                color: $Color4;
            }

        }
    }
}

/* ############# Contenido Principal - Referencias ############# */
.referecias {
    width: 100%;
    height: 100%;
    padding: 7% 10% 0 10%;  
    animation: upDown 0.3s 1 forwards;
}

.refencias-cont {
    width: 100%;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;
}

.referencias-list {
    width: 200%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 34%;
    margin-right: 34%;
    div {
        background-color: $Color6;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        opacity: 0.6;
        cursor: pointer;
        img {width: 100%;}
    }
    .activo {
        cursor: default;
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}

.referencias-desc {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 36px;
    height: 140px;
}

form {
    display: flex;
    .sujeto-referencia {
        font-size: 20px;
        font-weight: 600;
        margin-right: 32px;
    }

    .formulario-espacios {
        display: flex;
        flex-direction: column;
        width: 70%;
        .form-linkend {
            height: 32px;
            margin-bottom: 10px;
        }
        textarea {
            height: 120px;
            margin-bottom: 10px;
        }
        .form-submit {
            background-color: #E3DB1D;
            padding: 8px 16px;
            color: #000;
            font-size: 32px;
            border-radius: 8px;
            width: fit-content;
            margin-left: 150px;
        }
    }
}

/* ############# Contenido Principal - Servicios ############# */
.servicios {
    width: 100%;
    height: 100%;
    padding: 46px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    animation: upDown 0.3s 0.2s 1 forwards;
    
}

.servicios-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    .servicio-cont {
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 25%;
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: var(--cuadro, rgba(227, 219, 29, 0.20));
        backdrop-filter: blur(7.5px);
        margin-bottom: 32px;
        img {
            height: 180px;
            margin-top: -65px;
            justify-self: center;
            align-self: center;
        }
        p{
            text-align: center;
            font-family: 'Oswald';
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: $Color4;
            margin: 12px 0 32px 0;
        }
        ul {
            padding-left: 24px;
            li {
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 4px;
            }
        }
        .s-m {
            font-family: 'Roboto';
            font-size: 14px;
            width: 80%;
            align-self: center;
            span {
                font-weight: 700;
            }
        }

    }
}

.callToAction {
    display: flex;
    align-items: center;
    p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 70%;
        margin-right: 32px;
    }
    a, button {
        border: none;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        color: $Color2;
        border-radius: 8px;
        background: var(--color-1, #09143C);
        box-shadow: 0px 4px 15px 0px rgba(252, 97, 94, 0.35);
        padding: 8px;
        text-decoration: none;
        cursor: pointer;
        &:active {
            background-color: $Color3;
        }
        
    }
}

/* ############# Clases Comunes ############# */
.displayNone {
    display: none;
}

.centerDown {
    animation: centerDown 0.3s 0.05s 1 forwards;
}

@keyframes centerDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(130%);
    }
}

@keyframes rightCenter {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
/* ############# Navegador ############# */
    .Foto-Perfil {
        width: 48%;
        margin-bottom: 24px;
    }

    .Nav-Botones {
        padding: 10px 16px;
        button {font-size: 28px;}
        img { margin-right: 12px;}
    }

    .Links p {
        margin-bottom: 0px;
    }

/* ############# Contenido Principal - Portafolio ############# */
    .trabajo .info-trabajo h2 {
        margin-bottom: 14px;
    }

/* ============== SobreMi - Experiencia ============== */
    .Experiencia {
        padding: 24px 24px 24px 3%;
    }

    .exp-navCont {
        .exp-nav {
            margin: 0 4px;
        }
        .activo img {
            width: 46px;
            height: 46px;
        }
    }

    .experiencia-top {
        .exp-titulo h2 {
                font-size: 24px;
                min-width: initial;
            }
        .exp-fecha {
            max-width: 220px;
            padding: 0 10px 0 40px;
        }
    }

    .expSub-cont {
        padding-left: 1%;
        .expSub-col-2 .expSub-list {
            width: 94%;
            gap: 10px;
        }
        .expSub-col-3 .expSub-list {
            padding: 16px 12px 0px 28px;
            padding-right: 0;  
        }
    }

/* ============== SobreMi - Habilidad ============== */
    .Habilidades .col2 .h-cont {
        width: 80%;
    }

/* ============== SobreMi - Valóres ============== */
    .Valores .valores-list .valores-cont p {
        margin: 12px 0 10px 0;
    }
 
/* ############# Contenido Principal - Servicios ############# */
    .servicios {
        padding: 46px 24px 46px 14px;
    }    

    .servicios-list .servicio-cont p {
        margin: 12px 0 16px 0;
    }
}

@media only screen and (max-height: 740px) {
    .lista-trabajos {
        margin-bottom: 2%;
    }

    /* ============== SobreMi - Experiencia ============== */
    .experiencia-info {
        height: 87%;
    }

    .experiencia-top div {
        height: 46px;
    }

    .experiencia-descr {
        padding: 12px 20px;
    }

    .expSub-cont {
        height: 37vh;
    }

    /* ============== SobreMi - Valóres ============== */
    .Valores {
        padding-bottom: 26px;
        .valores-list {
            height: fit-content;
            .valores-cont {
                margin-bottom: 12px;
                height: 61vh;
                p {margin: 8px 0 2px 0;}
            }
        }
    }

    /* ############# Contenido Principal - Servicios ############# */
    .servicios {
        padding: 36px 24px 36px 14px;
    }  

    .servicios-list .servicio-cont {
        margin-bottom: 12px;
        height: 65vh;
        ul li {margin-bottom: 0;}
    }

    .referecias {
        padding: 5% 10% 0 10%;
    }

}