@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ############# Variables ############# */
$Color1: #09143C;
$Color2: #FFFFFF;
$Color3: #FA2F4C;
$Color4: #E3DB1D;
$Color5: #FFB27A;
$Color6: #D9D9D9;
$ColorFondo: linear-gradient(0deg, #09143cbb, #09143cbb);



body {
    height: 100vh;
    width: 100vw;
    color: $Color2;
    background-image: $ColorFondo, url(../assets/img/backgroundImage.png);
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 34px;
}

/* ############# App ############# */
.App {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* ############# Navegador ############# */
.Navegador {
    height: 100%;
    width: 27%;
    background-color: $Color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Foto-Perfil {
    width: 42%;
    height: 18%;
    margin-left: 30%;
    border-radius: 50%;
    margin-bottom: 24px;
}

.Foto-Perfil-img {
    background-image: url('../assets/img/perfil.png');
    background-size: 80% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.Cont-Nav {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    margin-left: 16%;
    .activo { background-color: $Color3;}
}

.Nav-Botones {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    text-decoration: none;
    button {
        background-color: transparent;
        color: $Color2;
        font-size: 32px;
        border: none;
    }
    img {
        margin-right: 24px;
    }
}

.Links {
    margin-left: 24%;
    font-size: 16px;
    p {
        margin-bottom: 8px;
        svg {margin-right: 8px;}
    }
}

/* ############# Contenido Principal - Home ############# */
.Cont-Principal {
    width: 74.74%;
    display: flex;
    justify-content: space-around;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        width: 380px;
        font-size: 32px;
        margin: 48px 0;
    }
    h2 {
        font-size: 32px;
        width: 380px;
        text-decoration: dashed;
    }
}

.img-sujeto {
    height: 80vh;
    margin-top: 10%;
}

.sujeto {
    margin-top: 6%;
}

/* ############# Contenido Principal - SobreMi ############# */
.SobreMi {
    width: 100%;
    display: flex;
}

.SobreMi-nav {
    width: 14%;
    padding-left: 24px;
    padding-top: 160px;
    div {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 20px;
            font-weight: 400;
            color: $Color2;
        }
        svg {
            font-size: 40px;
            color: $Color2;
        }
    }
    .activo2 {
        background-color: $Color3;
        p {color: $Color1;}
        svg {color: $Color1;}
    }
}

.SobreMi-Seccion {
    width: 86%;
    height: 100%;
}

/* ============== SobreMi - Experiencia ============== */
.Experiencia {
    width: 100%;
    height: 100%;
    padding: 24px 24px 24px 5%;
}

.experiencias-nav {
    display: flex;
    width: 100%;
    align-items: flex-end;
    button {
        display: flex;
        align-items: center;
        width: 15%;
        padding: 20px 0;
        background-color: transparent;
        border: none;
        color: $Color2;
        font-size: 16px;
        svg {
            margin: 0 16px;
            font-size: 24px;
        }
    }
}

.exp-navCont {
    width: calc(70% - 20px);
    margin: 0 10px;
    display: flex;

    .exp-nav {
        width: 86px;
        height: 92px;
        margin: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 0 0;
    }

    .activo {
        background-color:rgba(227, 219, 29, 0.20);
        border: 2px solid $Color4;
        border-bottom: none;
        backdrop-filter: blur(7.5px);
        z-index: 5;
        &::before {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 0 0 8px 0;
            border: 2px solid $Color4;
            border-left: none;
            border-top: none;
            margin-left: -134px;
            margin-bottom: -38px;
            z-index: 1;
        }
        
        &::after {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 0 0 0 8px;
            border: 2px solid $Color4;
            border-right: none;
            border-top: none;
            margin-right: -134px;
            margin-bottom: -38px;
            z-index: 1;
        }
    }
}

.experiencia-info {
    width: 100%;
    height: 83%;
    padding: 24px;
    border: 2px $Color4 solid;
    border-radius: 8px;
    background-color:rgba(227, 219, 29, 0.20);
    z-index: 1;
    margin-top: -2px;
    display: none;
    grid-template-rows: min-content;
    backdrop-filter: blur(7.5px);
}

.experiencia-info-activo {
    display: grid;
}

.experiencia-top {
    display: flex;
    align-items: center;

    div {
        height: 64px;
        display: flex;
        align-items: center;
    }

    .exp-titulo {
        font-size: 32px;
        border-right: 2px solid $Color4;
        padding-right: 40px;
        h2 {
            width: fit-content;
            min-width: 230px;
            font-weight: 400;
        }
    }

    .exp-puesto {
        font-size: 20px;
        font-weight: 300;
        min-width: 200px;
        color: $Color4;
        border-right: 2px solid $Color4;
        padding: 0 40px;
    }

    .exp-fecha {
        font-size: 20px;
        font-weight: 300;
        color: $Color4;
        max-width: 250px;
        padding: 0 20px 0 60px;
        line-height: 24px;
    }
}

.experiencia-descr {
    padding: 20px 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    li {
        margin: 4px 0;
        line-height: normal;
        font-family: 'Roboto';
    }
}

.expSub-cont {
    width: 100%;
    padding-left: 3%;
    height: 30vh;
    margin-bottom: 12px;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.1fr;

    .expSub-col {
        border-right: 2px dashed $Color4;
        .expSub-tittle {
            width: 100%;
            display: flex;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            color: $Color4;
            justify-content: center;
            align-items: center;
            svg {
                font-size: 32px;
                margin-right: 16px;
            }
        }
        .expSub-list {
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .expSub-col-1 {
        .expSub-tittle {
            margin-left: -24px;
        }
        .expSub-list {
            padding: 16px 14px;
        }
    }

    .expSub-col-2 {
        width: 100%;
        .expSub-list {
            width: 80%;
            padding: 16px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    .expSub-col-3 {
        border-right: none;
        .expSub-list {
            padding: 16px 38px;
            padding-right: 0;
        }
    }
}

/* ============== SobreMi - Habilidad ============== */
.Habilidades {
    width: 100%;
    height: 100%;
    padding: calc(23% - 64px) 24px 64px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas: 
    "col1 col2 col3"
    "col1 col2 col3"
    "col4 col2 col3"
    ;
    gap: 26px;

    @for $i from 1 through 4 {
        .col#{$i} {
          grid-area: col#{$i};
        }
    }

    .col {
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: rgba(227, 219, 29, 0.20);
        backdrop-filter: blur(7.5px);
        .h-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 24px 0;
            svg {
                font-size: 32px;
                color: $Color4;
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                color: $Color4;
                margin-left: 12px;
            }
        }
    }

    .col1, .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .h-cont {
            display: flex;
            flex-wrap: wrap;
            width: 85%; 
            gap: 12px;
            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .col2 .h-cont {width: 60%;}
    .col3 .h-cont {
        padding-left: 50px;
        li{
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 8px;
        }
    } 
    .col4 .h-cont {
        padding-left: 30px;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}

/* ============== SobreMi - Educación ============== */
.Educacion {
    width: 100%;
    height: 100%;
    padding: calc(23% - 64px) 24px 64px 5%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 
    "col1 col2"
    "col1 col2"
    "col1 col3"
    ;
    gap: 26px;

    @for $i from 1 through 3 {
        .col#{$i} {
          grid-area: col#{$i};
        }
    }

    .col {
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: rgba(227, 219, 29, 0.20);
        backdrop-filter: blur(7.5px);
        .h-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 24px 0;
            svg {
                font-size: 32px;
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                margin-left: 12px;
            }
        }
    }

    .col1 .h-cont {
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 12px 0 42px;
        li{
            margin-bottom: 4px;
        }
    }

    .edu-titulo {
        width: 100%;
        h2 {
            text-align: center;
            width: initial;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            padding: 12px 16px;
            letter-spacing: .05rem;
        }
        div {
            display: flex;
            color: $Color4;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                padding: 2px 8px;
            }
            .edu-fecha {
                max-width: 40%;
                border-left: 2px solid $Color4;
            }
        }

    }

    .col2 {
        .h-top {
            color: $Color4;
        }
        .h-cont {
            padding: 0 0 16px 20px;
            p {
                font-family: "Roboto";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
                span {
                    color: $Color4;
                    margin-right: 4px;
                    font-family: "Oswald";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }

    .col3 {
        border-color: $Color2;
        .h-cont {
            padding-left: 20px;
            font-family: "Roboto";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
            p:first-child {
                font-family: "Oswald";
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            span {
                color: $Color4;
            }
        }
    }
}

/* ============== SobreMi - Valóres ============== */
.Valores {
    width: 100%;
    height: 100%;
    padding: 46px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .valores-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        gap: 24px;
        .valores-cont {
            display: flex;
            flex-direction: column;
            height: 60vh;
            width: 30%;
            border-radius: 8px;
            border: 2px solid var(--color-4, #E3DB1D);
            background: var(--cuadro, rgba(227, 219, 29, 0.20));
            backdrop-filter: blur(7.5px);
            margin-bottom: 32px;
            img {
                height: 180px;
                margin-top: -65px;
                justify-self: center;
                align-self: center;
            }
            p{
                text-align: center;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 4px;
                margin: 12px 0 32px 0;
                padding: 0 20px;
            }
            .v-tittle {
                font-family: 'Oswald';
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                color: $Color4;
            }

        }
    }
}

/* ############# Contenido Principal - Portafolio ############# */
.lista-trabajos {
    height: 100%;
    width: 100%;
    padding-left: 70px;
    padding-bottom: 40px;
    display: flex;
}

.trabajo {
    transition: 0.3s all;
    align-self: flex-end;
    margin-right: 42px;
    .trabajo-cont {
        width: 207px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trabajo-cont-img {
        width: 141px;
        height: 146px;
        border-radius: 50%;
        background-color: $Color5;
        margin: 0 0 -130px 0;
        z-index: 1;
    }

    .trabajo-detalles {
        background-color: $Color6;
        width: 100%;
        height: 217px;
        border-radius: 16px;
        div {
            display: none;
        }
    }

    .info-trabajo {
        display: none;
    }
}

.viendo-trabajo {
    transition: 0.3s all;
    align-self: flex-start;
    .trabajo-cont {
        width: 341px; 
    }

    .trabajo-cont-img {
        width: 263px;
        height: 273px;
        margin: 24px 0;
    }

    .trabajo-detalles {
        color: black;
        padding: 35px 42px;
        height: initial;
        div {
            display: block;
            padding-bottom: 60px;
        }
    }

    .info-trabajo {
        display: block;
        position: relative;
        margin-top: -720px;
        margin-left: 26vw;
        max-width: 15vw;
        z-index: 3;
        h2{
            margin-bottom: 28px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: normal;
        }
        button {
            background-color: #E3DB1D;
            padding: 8px 16px;
            color: #000;
            font-size: 32px;
            border-radius: 8px;
            margin-top: 8px;
        }
    }
}

.trabajo-left {
    margin-left: -200px;
}

.portafolio-bt-D {
    position: fixed;
    height: 100%;
    width: 8vw;
    right: -10px;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, #09143C 15.16%, rgba(9, 20, 60, 0.10) 153.19%);
    backdrop-filter: blur(5px);
    z-index: 2;
    button {
        height: 100%;
        background-color: transparent;
        width: 80px;
        border: 0;
        display: flex;
        svg {
            align-self: flex-end;
            margin: 24px auto;
            color: $Color6;
            font-size: 2em;

        }
        
    }
}

/* ############# Contenido Principal - Referencias ############# */
.referecias {
    width: 100%;
    height: 100%;
    padding: 7% 10% 0 10%  
}

.referencias-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    div {
        background-color: $Color6;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        opacity: 0.6;
    }
    .activo {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}

.referencias-desc {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 36px;
}

form {
    display: flex;
    .sujeto-referencia {
        font-size: 20px;
        font-weight: 600;
        margin-right: 32px;
    }

    .formulario-espacios {
        display: flex;
        flex-direction: column;
        width: 70%;
        .form-linkend {
            height: 32px;
            margin-bottom: 10px;
        }
        textarea {
            height: 120px;
            margin-bottom: 10px;
        }
        .form-submit {
            background-color: #E3DB1D;
            padding: 8px 16px;
            color: #000;
            font-size: 32px;
            border-radius: 8px;
            width: fit-content;
            margin-left: 150px;
        }
    }
}

/* ############# Contenido Principal - Servicios ############# */
.servicios {
    width: 100%;
    height: 100%;
    padding: 46px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    .servicio-cont {
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 25%;
        border-radius: 8px;
        border: 2px solid var(--color-4, #E3DB1D);
        background: var(--cuadro, rgba(227, 219, 29, 0.20));
        backdrop-filter: blur(7.5px);
        margin-bottom: 32px;
        img {
            height: 180px;
            margin-top: -65px;
            justify-self: center;
            align-self: center;
        }
        p{
            text-align: center;
            font-family: 'Oswald';
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: $Color4;
            margin: 12px 0 32px 0;
        }
        ul {
            padding-left: 24px;
            li {
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 4px;
            }
        }
        .s-m {
            font-family: 'Roboto';
            font-size: 14px;
            width: 80%;
            align-self: center;
            span {
                font-weight: 700;
            }
        }

    }
}

.callToAction {
    display: flex;
    align-items: center;
    p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 70%;
        margin-right: 32px;
    }
    button {
        border: none;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        color: $Color2;
        border-radius: 8px;
        background: var(--color-1, #09143C);
        box-shadow: 0px 4px 15px 0px rgba(252, 97, 94, 0.35);
        padding: 8px;
    }
}

/* ############# Clases Comunes ############# */
.displayNone {
    display: none;
}